/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-04-26, 15:23:16
    Author     : Przemo
*/

body {
    background-color: whitesmoke;
}

.nolink {
    text-decoration: none;
    color: #666666;
}

.link_button_average {
    padding: 5px 5px 5px 5px;
    width:150px;
    height:30px;
    text-decoration: none;
    text-align: center;
    background-color: green;
    border-left: 2px darkgreen solid;
    border-top: 2px darkgreen solid;
    cursor: pointer;
}

.link_button_average a{
    text-decoration: none;
    color: whitesmoke;
}

.centralPanel {
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    border: 1px #ffcccc solid;
}

.panelsFont {
    font-family: "Arial";
    font-size: 16pt;
}

.menuBox {
    padding: 20px 20px 20px 20px;
    width: 170px;
    height: 170px;
    text-justify: auto;
}

.sprintsPanel {
    background-color: #99ff99;
}

.backlogPanel {
    background-color: #ccccff;
}

.tasksPanel {
    background-color: #ffcc00;
}

.adminPanel {
    background-color: #00cccc;
}

.noul {
    list-style: none;
}

.home_panels{
    margin-top: 38%;
    text-align: center;
}
.centralPanel li {
    display: inline-table;
}

.login_panel {
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-top:15%;
    background-color: lightslategray;
    border: 1px solid black;
}

.login_status_panel {
    width:210px;
    height:80px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.timelog_entries {

}

.tasks_list_panel{
    max-height: 450px;
    width:100%;
    overflow-y: auto;
    margin: 10px;
}

.feedbackPanelERROR {
    color: red;
}

.small_image_links img{
    width: 20px;
}

.lane, .lane_last {
    border-left: 1px;
    border-left-color: black;
    border-left-style: solid;
    min-height: 300px;  
}

.lane_last {
    border-right: 1px black solid;
}

.lanetitle {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.lane_separator {
    width:100%;
    padding-top: 5px;
    border-bottom: 1px black solid;
}

.subcontent{
    float:left;
    width:100%;
}

.subcontent div {
    float:left;
    width:100%;
    padding:10px 0px 10px 0px;
}
